{% extends 'layout.html' %}

{% block content %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category , message in messages %}
<div class="alert alert-{{category}}">
    <strong>{{message}}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="table-responsive my-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Logout</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{users.id}}</td>
                <td>{{users.name}}</td>
                <td>{{users.email}}</td>
                <td>
                    <a href="/logout">
                        <button class="btn btn-danger">Logout</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
